.banner {
    background-size: cover;
    padding-bottom: 25px;

    .leto & {
        background: url("../images/content/head_leto_bg_new.jpg") no-repeat center center;
        background-size: cover;
    }

    .zima & {
        background: url("../images/content/head_zima_bg.jpg") no-repeat center;
    }

    &__title {
        font-size: 40px;
        margin-top: 10px;
        padding: 10px 15px;
        background: rgba(255, 255, 255, 0.8);

        @include media-breakpoint-down(lt) {
            font-size: 30px;
            padding: 20px;
        }
        @include media-breakpoint-down(tb) {
            font-size: 25px;
        }
        @include media-breakpoint-down(phx) {
            font-size: 20px;
            line-height: 1.2;
        }
        @include media-breakpoint-down(ph) {
            font-size: 18px;
        }

        > span {
            color: #3d8a5e;
        }
    }

    .after-title {
        position: relative;
        clear: both;
    }

    .after-title h3 {
        margin-top: 0;
        margin-bottom: 5px;
        padding: 10px 15px 10px 105px;

        @include media-breakpoint-down(tb) {
            font-size: 20px;
        }
        @include media-breakpoint-down(phx) {
            font-size: 16px;
            padding-left: 20px;
        }
    }

    .after-title h3.bg-grad {
        background: linear-gradient(to right, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0));
    }

    .after-title img {
        position: absolute;
        width: 120px;
        top: -14px;
        left: -25px;

        @include media-breakpoint-down(phx) {
            display: none;
        }
    }
}
