//----- custom checkbox/radio -----
$_check-border:         #8eb852;
$_check-checked:        #8eb852;

.checkbox input[type='checkbox'],
.radio input[type='radio'] {
    position: absolute;
    top: 0;
    left: 0;
}

.check-cust {
    position: relative;
    opacity: 0;
    z-index: 3;
    
    &:checked {
        + .check-cust_i {
            border: 5px solid $_check-checked;
            
            &:before {
                opacity: 1;
            }
        }
    }
}

.check-cust_i {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 0;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid $_check-border;
    transition: all .2s;
    z-index: 2;
}

.radio,
.checkbox {
    label {
        position: relative;
        display: block;
        padding-left: 25px;
        margin-bottom: 13px;
        font-size: 14px;
        color: $_check-border;
        
        > span {
            display: inline-block;
            padding-top: 2px;
        }
        
        .check-cust_i {
            padding-top: 0;
        }
    }
    
    &.inline {
        label {
            display: inline-block;
            margin-right: 25px;
        }
    }
}

.radio {
    .check-cust_i {
        border-radius: 50%;
    }
}
//----- END--custom checkbox/radio -----
