* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: $font__size_base;
    line-height: $font__line-height_base;
    @include font-face-regular;
    color: $color__text;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    min-width: 300px;
    overflow-x: auto;
    background-color: $bg__body;
}

.page {
    width: 100%;
    overflow: hidden;
    background-color: $bg__body;
}

.container {
    width: 100%;
    max-width: $container__width_max;
    padding: 0 $container__padding;
    margin: 0 auto;

    @include media-breakpoint-up(tb) {
        padding: 0 $container__padding_tb
    }

    &_wide {
        max-width: none;
    }
}

//.blackout {
//  display: none;
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  height: 100%;
//  width: 100%;
//  background: rgba(0,0,0,.7);
//  z-index: 105;
//}

a {
    color: $color__link;
    transition: color .2s;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $color__link_hover;
    }

    &:focus {
        outline: none;
    }
}

a[href^='tel:'] {
    white-space: nowrap;
}

p {
    margin-top: 0;
    margin-bottom: .5em;
}

b, strong {
    @include font-face-bold;
}

i, em {

}

img {
    max-width: 100%;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.uppercase {
    text-transform: uppercase;
}

.nowrap {
    white-space: nowrap;
}

.mark {
    color: $color__primary;
}

header {
    span {
        @include media-breakpoint-down(lt) {
            font-size: 14px;
            line-height: 1.2;
        }
    }

    .pad-top {
        @include media-breakpoint-down(tb) {
            padding-left: 0;
        }
        @include media-breakpoint-down(ph) {
            padding-right: 0;
        }

        .number {
            display: inline-block;

            @include media-breakpoint-down(lt) {
                font-size: 18px;
                margin-bottom: 5px;
            }
            @include media-breakpoint-down(tb) {
                font-size: 22px;
            }
            @include media-breakpoint-down(ph) {
                font-size: 20px;
            }
        }

        .flag {
            display: inline-block;

            @include media-breakpoint-down(lt) {
                margin-bottom: 6px;
                margin-top: 6px;
            }
        }
    }
}
