ul,
ol {
  display: block;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 2.8em;

  > li {
    position: relative;
    margin-top: 0;
    margin-bottom: 1.2em;
    text-align: left;
  }
}

p {
  + ul, ol {
    margin-top: 2.5em;
  }
}

ul {
  > li {
    padding-left: 25px;
    margin-bottom: .9em;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 14px;
      height: 3px;
      top: .65em;
      left: 0;
      font-size: 1em;
      background: $color__primary;
    }
  }
}

ol {
  counter-reset: section;

  > li {
    display: flex;
    align-items: flex-start;

    &::before {
      content: counters(section, ".",  decimal-leading-zero) ". ";
      counter-increment: section;
      display: block;
      flex-shrink: 0;
      min-width: 30px;
      text-align: center;
      margin-right: 16px;
      color: $color__primary;
    }
  }
}