.form {
  &.form-vertical {

  }
}

input {
  outline: 0;
}

$input-height:    30px;

select {
  font-size: 13px;

  &.formstyler {
    opacity: 0;
  }
}

.form-title {
  font-size: 28px;
  line-height: (30/28);
  //@include font-face-sbold;
  margin-top: 0;
  text-align: center;

  @media (max-width: $screen-xs-max) {
    font-size: 22px;
  }
}

.form-subtext {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: (22/14);
  //color: $text-light-3;
  text-align: center;
}

.form-group {
  margin-bottom: 18px;
  text-align: left;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  label {
    @include font-face-regular;
    color: $brand-color-5;
  }
}

.form-group_submit {
  margin-top: 30px;
  text-align: center;
}

.form-name {
  display: block;
  width: 100%;
  font-size: 14px;
  margin-bottom: 3px;
}

.form-field {
  width: 100%;
}

.form-text {
  margin-top: 7px;
  font-size: 14px;
  line-height: (22/14);
  //color: $text-light-3;
}

.form-control {
  width: 100%;
  height: $field-height;
  padding: 0 15px;
  font-size: 14px;
  border: 1px solid $bord-color-form;
  border-radius: $border-radius-form;
  background: #fff;
  box-shadow: none;
  @include placeholder($placeholder-color);
  @include font-face-regular;
  color: $text-color;
  transition: all .4s;

  &:hover {
    //border-color: $bord-color-form-hover;
  }

  &:focus {
    outline: none;
  }

  &.error {
    //border-color: $color-error;
  }
}

textarea {
  display: block;

  &.form-control {
    padding-top: 12px;
    padding-bottom: 12px;
    height: auto;
  }
}

input[type='text'],
input[type='tel'],
input[type='email'] {

}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

//----- custom checkbox/radio -----
$_check-border:         #ccc;
$_check-checked:        $brand-color-3;

input[type='checkbox'],
input[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
}

.check-cust {
  position: relative;
  opacity: 0;
  z-index: 3;

  &:checked {
    + .check-cust_i {
      border: 5px solid $_check-checked;

      &:before {
        opacity: 1;
      }
    }
  }
}

.check-cust_i {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 5px;
  left: 0;
  padding: 0;
  margin: 0;
  background: #fff;
  border: 1px solid $_check-border;
  transition: all .2s;
  z-index: 2;
}

.radio,
.checkbox {
  label {
    position: relative;
    display: block;
    padding-left: 25px;
    margin-bottom: 13px;
    font-size: 14px;
    color: $text-color;

    > span {
      display: inline-block;
      padding-top: 2px;
    }

    .check-cust_i {
      padding-top: 0;
    }
  }

  &.inline {
    label {
      display: inline-block;
      margin-right: 25px;
    }
  }
}

.radio {
  .check-cust_i {
    border-radius: 50%;
  }
}
//----- END--custom checkbox/radio -----


