body {
    color: #000;
}

body .section {
    position: relative;
    width: 100%;
}

#head-css {
    background: #fff;
    padding: 10px 0 5px;
    position: relative;
    top: 0;
}

header .logo {
    display: inline-block;
}

.pad-top {
	padding-top: 27px;
}

.logo img {
	width: 310px;
}

header .number, .button-callback, header h1, header .after-title h3, header form, header .form-title, h1, h2, h3, h4, .section.soveti .item .title .text, .section.fotoparthner .item .title .text, .section.soveti .item .desc > span, .section.fotoparthner .item .desc > span, .section.calc button.step-next,
.section.calc .calc-form .form-container .title, .calc-form .step-name, .calc-form button.finish,
.osobennosti .blocks .bordered ul li > span > span, .osobennosti .blocks ul.ul-menu li a, .osobennosti .blocks a.button-to-vileo, .osobennosti h3, .osobennosti .number, .text-bold,
.osobennosti .blocks .bordered ol li::before, .new-year .items-block .item {
    @include font-face-bold;
}

img.flag {
    position: relative;
    bottom: 4px;
    width: 25px;
}

.number {
    font-size: 23px;
    margin-left: 15px;
    @include font-face-bold;
}

.button-callback {
    background: url("../images/icons/bg_button_phone.png") no-repeat;
    background-position: 10px center;
    display: block;
    border: 1px solid #c3262e;
    text-align: right;
    border-bottom: 4px solid #c3262e;
    border-radius: 4px;
    padding: 12px 10px 12px 48px;
    color: #000;
    margin-bottom: 2px;
    white-space: nowrap;

    @media (max-width: 1400px){
        font-size: 13px;
    }
}

.button-callback:hover, .button-callback:focus {
    color: #000;
    text-decoration: none;
}

#header-form {
    padding-top: 15px;
}

.form-title {
    background: rgba(59,135,94,.8);
    color: #fff;
    font-size: 23px;
    padding: 6px 0;
}

.form-title-before img {
    width: 100%;
}

.forma form {
    display: block;
    background: #fff;
    overflow: hidden;
    padding: 15px 15px;
    font-size: 130%;
}

.forma form > span {
    color: #4c4c4c;
}

.forma form label {
    font-size: 110%;
    margin-top: 3px;
}

form input, form select {
    @include font-face-bold-italic;
    background-color: #fff !important;
    border: 1px solid #999;
    border-bottom: 4px solid #999;
    text-align: center;
    width: 100%;
    display: block;
    height: 40px;
    font-size: 16px;
}

form select {
    padding-left: 7%;
}

form select.select {
    padding-left: 20%;
}

form select.select.people {
    background: url("../img/icon-people.png") no-repeat;
    background-position: 7px 4px;
}

form select.select.baby {
    background: url("../img/icon-baby.png") no-repeat;
    background-position: 12px 9px;
}

form input.date {
    background: url("../img/icon-calendar.png") no-repeat;
    background-position: 7px 5px;
}

.forma form button[type=submit] {
    background: #96161d;
    border: 1px solid #96161d;
    border-bottom: 4px solid #c3262e;
    color: #fff;
    font-size: 25px;
    padding: 5px 20px;
    margin: 10px 0 7px;
    border-radius: 5px;
    transition: .3s;
}

.forma form button[type=submit]:hover {
    border-bottom: 1px solid #96161d;
    border-top: 4px solid #c3262e;
}

.forma .form .form-ob {
    font-size: 14px;
}

.section h2 {
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.section.soveti {
    padding-bottom: 15px;
}

.section.soveti .row {
    display: block !important;
}

.section.soveti .item {
    background: #e5e5e5;
    margin-bottom: 30px;
    min-height: 360px;
    padding: 15px;
}
.section.soveti .item {
    background: #e5e5e5;
    margin-bottom: 30px;
    min-height: 360px;
    padding: 15px;
}

.section.fotoparthner .item {
    background: #e5e5e5;
    margin-bottom: 30px;
    min-height: 100px;
    padding: 15px;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.section.fotoparthner .item .title .text {
    font-size: 25px;
    float: left;
    line-height: 27px;
    padding: 5px;
    width: 100%;
}

.section.soveti .item .title .text, .section.soveti .item .title .icon {
    box-sizing: border-box;
}

.section.soveti .item .title .icon {
    display: flex;
    float: left;
    height: 60px;
    width: 28%;
}

.section.soveti .item .title .icon > img {
    display: inline-block;
    margin: auto;
}

.section.soveti .item .title .text {
    font-size: 25px;
    float: right;
    line-height: 27px;
    padding-top: 5px;
    width: 72%;
}

.section.soveti .item .desc {
    font-size: 18px;
    padding: 10px 10px 0;
}

.section.fotoparthner .item .desc {
    font-size: 18px;
    padding: 10px 10px 0;
	text-align: left;
}

.new-year {
    background: url("../img/yahta.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
    padding: 25px 0;
}



.new-year .title {
    font-size: 25px;
    padding: 0 16% 3%;
}

.new-year .title > span {
    font-size: 40px;
}

.new-year .items-block {
    margin: auto;
    width: 80%;
}

.new-year .items-block .item {
    background: rgba(97, 86, 42, 0.83);
    margin-bottom: 30px;
}

.new-year .items-block .item .icon {
    display: flex;
    height: 100px;
}

.new-year .items-block .item .icon img {
    margin: auto;
}

.new-year .items-block .item .text {
    height: 65px;
    font-size: 18px;
    padding: 0 15px;
}

.new-year .form-block {
 /*   background: rgba(255,255,255,.9);*/
    color: #fff;
    margin: auto;
    width: 35%;
    clear: both;
    padding: 15px 25px;
    font-size: 18px;
}

.new-year .form-block span {
    @include font-face-bold-italic;
    font-size: 16px;
}

.new-year .form-block form input {
    border: 1px solid #999;
    margin-bottom: 10px;
}

.new-year .form-block form button {
    background: #feb81f;
    border: 1px solid #e6a10e;
    border-bottom: 4px solid #e6a10e;
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 9px 0;
    margin-bottom: 5px;
}

.new-year .form-block form button:hover {
    background: #e6a10e;
}



.section.fotoparthner {
    background: url("../img/klinikfoto.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    padding: 0 0 40px;
}

.fotoparthner .title-container {
    font-size: 32px;
    margin: auto;
    width: 80%;
    padding: 60px 0;
    line-height: 30px;
}
.title-container-text {
	    background: rgba(255,255,255,0.8); /* Цвет фона под заголовком */
		padding: 2px; /* Поля вокруг текста */
		@include font-face-bold;
		display: inline;
		line-height: 1.5;
}
.title-container-text span{
    color: green;
}

.spisokproc {
    background: #e6a10e;
    border: 1px solid #e6a10e;
    border-bottom: 4px solid #e6a10e;
    border-radius: 4px;
    font-size: 20px;
    padding: 7px 30px;
}

footer {
    background: #008352;
    padding: 20px 0;
}

footer span {
    display: inline-block;
    color: #fff;
    @include font-face-bold-italic;
    margin-bottom: 7px;
    font-size: 24px;
    margin-top: 65px;
}

footer .phones .title {
    padding: 0 25px 5px;
}

footer .phones .numbers {
    text-align: left;
    margin: auto;
    width: 230px;
    font-size: 18px;
}

footer .phones {
    font-size: 18px;
    color: #fff;
}

footer .phones .numbers img {
    margin-right: 5px;
}

footer .phones button {
    border: 1px solid #e6a10e;
    border-bottom: 4px solid #e6a10e;
    border-radius: 4px;
    color: #000;
    display: inline-block;
    position: relative;
    background: #fff;
    margin-top: 5px;
    padding: 7px 15px 7px 40px;
}

footer .phones button:before {
    background: url("../img/footer-icon-phone.png") no-repeat center;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3px;
    width: 30px;
}

button.plav {
    position: fixed;
    top: 40px;
    right: 20px;
    font-size: 20px;
    background: #ea0000;
    border: 2px solid #bb0505;
    border-bottom: 4px solid #ad0606;
    border-radius: 5px;
    padding: 10px;
    width: 255px;
}

.modal-content {
    border-radius: 3px;
    border: 16px solid rgb(41,130,85);
}

.modal-content .form-modal {
    padding: 15px 52px 40px;
}

.modal-content .form-modal input {
    margin-bottom: 10px;
}

.modal-content .modal-title {
    font-size: 18px;
    padding: 30px 30px 0;
}

.modal-content .close {
    font-size: 50px;
    right: 5px;
    position: absolute;
}

.modal-content .form-modal button {
    background: #feb81f;
    border: 1px solid #feb81f;
    border-bottom: 4px solid #e7a313;
    border-radius: 4px;
    font-size: 23px;
    padding: 5px 40px;
    width: 100%;
}

.modal-content .form-modal.video {
    padding: 0;
}

.modal-content .form-modal.video > iframe {
    top: 5px;
    position: relative;
}

.modal-content .form-modal textarea {
    border: 1px solid #999;
    border-bottom: 4px solid #999;
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    padding: 0 5px;
}







.best-programms h2{
    max-width:760px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 20px;
}
.best-programms {
    background: url(../img/back_best_progs.jpg) no-repeat center center #e5e5e5;
    background-size: cover;
    padding-bottom: 30px;
}
.best-programms .item-prog {
    background: #fff;
    padding: 17px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
    overflow: hidden;
    margin-bottom: 30px;
}
.best-programms .item-prog .left-block form .green-button {
    display: block;
    background-color: #008352;
    border-radius: 3px;
    border: none;
    border-bottom: 4px solid #999;
    color: #fff;
    font-size: 18px;
    @include font-face-bold;
    width: 214px;
    padding: 8px;
    text-align: center;
    line-height: 1;
    outline: none;
}
.best-programms .item-prog .left-block form .green-button:hover {
    border-bottom:none;
    border-top: 4px solid #999;
}
.best-programms .item-prog form {
    margin-top: 17px;
    display: table;
}
.best-programms .item-prog .left-block form label input[type='email']{
    font-size: 18px;
    height: 32px;
    width: 214px;
    outline: none;
    margin-bottom: 8px;
}
.best-programms .item-prog .left-block form .meil {
    font-size: 18px;
    @include font-face-bold;
}
.best-programms .item-prog .left-block {
    float: left;
}
.best-programms .item-prog .right-block .likes {
    text-align: right;
}
.best-programms .item-prog .right-block {
    padding-left: 24px;
    float: left;
    width: 58%;
}
.best-programms .item-prog .right-block h3 {
    font: 18px BeauSans700;
    margin-top: 5px;
    word-wrap:break-word;
}
.best-programms .item-prog .right-block h3 span{
    @include font-face-bold;
}
.best-programms .item-prog .right-block h4 {
    font: 16px BeauSans700;
    margin: 10px 5px 5px 0;
}
.best-programms .item-prog .right-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.best-programms .item-prog .right-block ul li {
    font: 16px BeauSans300;
}
.best-programms .item-prog .right-block ul li {
    padding-bottom: 5px;
}


.about_programm {
    background: url(../img/back_progr.jpg) no-repeat center center #bbe0c0;
    background-size: cover;
    padding-bottom: 80px;
}
.about_programm iframe{
    border: none;
    margin: 0;
    padding: 0;
}
.about_programm .wrap-frame {
    box-shadow: 0 0 30px 0 rgba(0,0,0,.6);
}
.forma-know-price {
    background: rgba(229,229,229,.9);
    border: 16px solid rgba(97,163,127,.9);
    padding: 14px;
    max-width: 360px;
    box-sizing: border-box;
}
.forma-know-price h3{
    margin: 0 0 14px;
    font-size: 22px;
}
.forma-know-price .text{
    font: 15px BeauSans700Italik;
    color: #5e5e5e;
}
.forma-know-price label span {
    font-size: 15px;
    padding: 11px 0 7px;
    display: block;
}
.forma-know-price label input {
    width: 300px;
    box-sizing: border-box;
    height: 39px;
    outline: none;
}
.forma-know-price .yellow-button {
    height: 42px;
    background: #feb81f;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    border-bottom: 4px solid #e7a313;
    font-size: 17px;
    @include font-face-bold;
    text-align: center;
    padding-top: 2px;
    width: 300px;
    margin: 14px 0 5px;
    line-height: 1;
    outline: none;
}
.forma-know-price .yellow-button:hover{
    border-top: 4px solid #e7a313;
    border-bottom: none;
    paddin-top: 0;
}
.thank-feedback .text-bold{
    padding-bottom: 30px;
    display: inline-block;
    text-align: center;
}
.thank-feedback {
    top: 10%;
}
.thank-feedback .modal-content{
    box-shadow: 0 0 100px 20px rgba(0,0,0,.6);
}

@media screen and (max-width: 1199px){
    .button-callback {
        display: inline-block;
        padding: 12px 10px 12px 56px;
    }

    header h1 {
        font-size: 33px;
    }

    header .after-title h3 {
        padding-left: 128px;
        font-size: 20px;
    }

    header .after-title img {
        width: 136px;
    }

    .forma form {
        font-size: 110%;
    }

    .forma form button[type="submit"] {
        font-size: 20px;
    }

    .slide-text {
        margin-top: 19px;
        font-size: 17px;
    }

    .section.calc .form-container {
        width: 85%;
    }

    .osobennosti .blocks, .osobennosti h2 {
        width: 100%;
    }

    .osobennosti .blocks ul.ul-menu li a::before {
        left: 3px;
    }

    .review .item {
        font-size: 16px;
    }

    .section.promo {
        background-position: -53px;
    }

    footer span {
        margin-top: 41px;
    }

    .logo img {
        margin-bottom: 2px;
    }

    header h1 {
        font-size: 25px;
    }

    header .after-title h3 {
        padding-left: 125px;
        font-size: 20px;
    }

    header {
        padding-bottom: 25px;
    }

    .slider-reviw {
        padding: 20px 0;
    }

    .stars {
        display: none;
    }

    .slider {
        width: 100%;
        height: 160px;
    }

    .slide-block {
        height: 140px;
    }

    .carousel-control {
        width: 9%;
    }

    .section.soveti .item {
        min-height: 320px;
    }

    .new-year .title {
        font-size: 18px;
        padding: 0 18% 3%;
    }

    .new-year .form-block {
        width: 45%;
    }

    .new-year .items-block .item .text {
        font-size: 15px;
        padding: 5px 15px 0;
    }

    .foto .title-container {
        font-size: 22px;
        width: 100%;
    }

    .osobennosti .blocks .bordered, .osobennosti .blocks .bordered ul li, .osobennosti .blocks .bordered ol li {
        font-size: 16px;
    }
    .best-programms .item-prog .right-block {
        padding-left: 10px;
        width: 49%;
    }
    .forma-know-price label input {
        width: 232px;
    }
    .forma-know-price .yellow-button {
        height: 50px;
        width: 232px;
    }
}

@media screen and (max-width: 991px) {
    header {
        background: url("../img/head_zima_bg.jpg") no-repeat center;
        background-size: cover !important;
    }

    header .logo {
        display: block;
    }

    #head-css .logo img {
        margin-bottom: 7px;
    }

    .pad-top {
        text-align: left;
        padding-left: 10%;
    }

    .form-title {
        font-size: 19px;
    }

    .forma form label {
        font-size: 105%;
        margin-top: 10px;
    }

    header .after-title h3 {
        padding-left: 115px;
        font-size: 15px;
    }

    header .after-title img {
        width: 120px;
        top: -11px;
        left: -30px;
    }

    .section.calc .form-container {
        width: 100%;
        height: 590px;
    }

    .section.calc .step {
        height: 430px;
    }

    .new-year .title {
        font-size: 20px;
        padding: 0 5% 3%;
    }

    .new-year .form-block {
        width: 60%;
    }

    .foto .description {
        font-size: 14px;
        width: 100%;
    }

    .review .item {
        height: auto;
        min-height: 300px;
    }

    .logo img {
        margin-bottom: 30px;
    }

    .best-programms .item-prog .right-block {
        padding-left: 24px;
        width: 68%;
    }
    .forma-know-price {
        margin: 60px auto 0;
    }
    .forma-know-price label input {
        width: 300px;
    }
    .forma-know-price .yellow-button {
        height: 41px;
        width: 300px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 767px) {
    .section h2 {
        font-size: 27px;
    }

    #header-form, .promo .forma {
        width: 60%;
    }

    .form-title {
        font-size: 17px;
    }

    form input, form select {
        margin-bottom: 10px;
    }

    .pad-top {
        display: inline-block;
    }

    .section.soveti .item .title .text {
        padding-top: 15px;
    }

    .osobennosti .blocks ul.ul-menu li {
        display: inline-block;
    }

    .osobennosti .blocks ul.ul-menu li a {
        font-size: 14px;
        margin-bottom: 0;
        padding: 7px;
    }

    .osobennosti .blocks ul.ul-menu li a:after, .osobennosti .blocks ul.ul-menu li a:before {
        display: none;
    }

    .osobennosti .blocks .bordered {
        width: 100%;
    }

    .section.calc .calc-form .form-container .title {
        font-size: 18px;
    }

    .section.calc .form-container {
        height: 920px;
    }

    .section.calc .step {
        height: 730px;
        margin: 10px auto;
        padding-bottom: 75px;
    }

    .section.calc .form-container {
        padding: 5px;
    }

    .calc-form .step-name {
        font-size: 18px;
    }

    .calc-form .step-name > span {
        font-size: 14px;
    }

    form input, form select {
        font-size: 14px;
    }

    .calc-form .range-slider {
        padding: 20px 15px;
    }

    .calc-form button.finish {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
        bottom: 3px;
        position: relative;
    }

    .foto .description {
        padding: 10px 10px 0 110px;
    }

    .osobennosti h2::after {
        width: 51%;
    }

    .section.promo {
        background-position: 53% 0;
    }

    footer span {
        margin-top: 15px;
    }

    .modal-content {
        border: 7px solid rgb(41,130,85);
    }

    .modal-content .modal-title {
        font-size: 18px;
        padding: 40px 10px 0;
    }

    .modal-content .modal-title {
        font-size: 14px;
    }

    .modal-content .form-modal {
        padding: 15px;
    }

    .modal-content .form-modal button {
        font-size: 16px;
        padding: 15px;
    }
    .forma-know-price .yellow-button {
        margin-top: 0px;
    }
}

@media screen and (max-width: 733px) {
    .best-programms .item-prog .right-block {
        padding-left: 24px;
        width: 50%;
    }
}

@media screen and (max-width: 679px) {
    #header-form, .promo .forma {
        width: 110%;
        margin-left: -15px;
        margin-right: -15px;
    }

    .button-callback {
        display: inline-block;
        padding: 12px 10px 12px 40px;
    }

    .pad-top {
        padding-left: 15px;
    }

    header h1 {
        font-size: 17px;
    }

    header .after-title h3 {
        padding-left: 15px;
        font-size: 14px;
    }

    header .after-title img {
        display: none;
    }

    .forma form {
        font-size: 100%;
    }

    .forma form button[type="submit"] {
        font-size: 16px;
    }

    .slide-block {
        height: 200px;
    }

    .slider {
        height: 215px;
        font-size: 15px;
    }

    .slide-text {
        font-size: 15px;
        width: 90%;
        padding-left: 15px;
    }

    .section.soveti .item {
        min-height: 260px;
    }

    .section.soveti .item .title .text {
        font-size: 20px;
        padding-top: 5px;
    }

    .section.soveti .item .desc {
        font-size: 16px;
    }

    .new-year .title > span {
        font-size: 23px;
    }

    .new-year .title, .new-year .form-block {
        font-size: 15px;
    }

    .new-year .form-block span {
        font-size: 12px;
    }

    .new-year .items-block, .new-year .form-block {
        width: 100%;
    }

    .foto .title-container {
        font-size: 18px;
    }

    .foto .description {
        padding: 10px;
        background: #fff;
        overflow: hidden;
        height: auto;
    }

    .osobennosti .blocks .bordered ul.marker-check {
        padding-left: 25px;
    }

    .osobennosti .blocks .bordered .images img {
        width: 45%;
        margin: 4px;
    }

    .osobennosti .blocks a.button-to-vileo {
        font-size: 13px;
    }

    .osobennosti h3 {
        font-size: 15px;
        margin: 0;
    }

    .osobennosti .number > img {
        display: block;
        margin: auto;
    }

    .review .item {
        margin-left: -15px;
        margin-right: -15px;
        min-height: 215px;
        padding-bottom: 35px;
        margin-bottom: 15px;
    }

    footer .phones {
        font-size: 16px;
    }

    .logo img {
        width: 100%;
    }
}
@media screen and (max-width: 492px) {
    .best-programms .item-prog {
        display: flex;
        flex-direction:column-reverse;
    }
    .best-programms .item-prog .right-block {
        float: none;
        width: 100%;
    }
    .best-programms .item-prog form {
        margin-left: auto;
        margin-right: auto;
    }
    .best-programms .item-prog .left-block {
        padding-top: 15px;
        float: none;
        text-align: center;
    }
}
@media screen and (max-width: 400px) {
    .forma-know-price label input {
        width: 232px;
    }
    .forma-know-price .yellow-button {
        height: 50px;
        width: 232px;
    }
    .form-know-price form {
        text-align: center !important;
    }
}
/************************************************************************************/
/* Callback
/************************************************************************************/
.callback {background: red; border-radius: 50% !important; bottom: 150px; cursor: move; height: 50px; position: fixed; right: 40px; width: 50px; z-index: 9999; cursor:pointer;}
.callback .callback_link::before {background: rgba(0, 0, 0, 0) url(../img/phone.png) no-repeat scroll center center / 35px auto; content: ""; height: 50px; left: 0; position: absolute; top: 0; width: 50px; z-index: 11;}
.callback:hover {animation: 1.5s linear 0s normal none infinite running callback_anim;}
.callback:hover .callback_b, .callback:hover .callback_a {background-color: red; border-color: red;}
.callback .callback_block {height: 50px; position: absolute; width: 50px;}
.callback .callback_a {-webkit-animation: callback 3s linear 0s infinite; -moz-animation: callback 3s linear 0s infinite; animation: callback 3s linear 0s infinite; background-color: transparent; border: 2px solid red; border-radius: 100% !important; bottom: -25px; box-sizing: border-box; height: 100px; opacity: 0.01; position: absolute; right: -25px; width: 100px;}
.callback .callback_b {-webkit-animation: callback 1.5s linear 0s infinite; -moz-animation: callback 1.5s linear 0s infinite; animation: callback 1.5s linear 0s infinite; background-color: transparent; border: 2px solid red; border-radius: 100% !important; bottom: -25px; box-sizing: border-box; height: 100px; opacity: 0.01; position: absolute; right: -25px; width: 100px;}
@keyframes callback {
0% {opacity: 0.8; transform: rotate(0deg) scale(0.46) skew(1deg);}
10% {transform: rotate(0deg) scale(0.56) skew(1deg);}
100% {opacity: 0.01; transform: rotate(0deg) scale(1) skew(1deg);}
}
@-webkit-keyframes callback {
0% {opacity: 0.8; transform: rotate(0deg) scale(0.46) skew(1deg);}
10% {transform: rotate(0deg) scale(0.56) skew(1deg);}
100% {opacity: 0.01; transform: rotate(0deg) scale(1) skew(1deg);}
}
@-moz-keyframes callback {
0% {opacity: 0.8; transform: rotate(0deg) scale(0.46) skew(1deg);}
10% {transform: rotate(0deg) scale(0.56) skew(1deg);}
100% {opacity: 0.01; transform: rotate(0deg) scale(1) skew(1deg);}
}
@keyframes callback_anim {
0% {transform: scale3d(1, 1, 1);}
10%, 20% {transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);}
30%, 50%, 70%, 90% {transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);}
40%, 60%, 80% {transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);}
100% {transform: scale3d(1, 1, 1);}
}
@keyframes callback_anim {
0% {transform: scale3d(1, 1, 1);}
10%, 20% {transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);}
30%, 50%, 70%, 90% {transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);}
40%, 60%, 80% {transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);}
100% {transform: scale3d(1, 1, 1);}
}

.pulse {
  background: green;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9)
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9)
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 74px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  border: 10px solid #298255;
  border-radius: 3px;
  background-image: url("../img/5c9b2a4c94b20f7171ec67a4_1-144.jpg");
  background-position: 0px 0px;
  background-size: cover;
}

.heading {
  color: #f9f5f5;
}

.heading-2 {
  position: relative;
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 50px;
  clear: left;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Montserrat, sans-serif;
  color: #fafafa;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 12px #bebb09;
}

.heading-3 {
  position: relative;
  display: block;
  margin: 0px auto;
  padding-bottom: 30px;
  clear: left;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 10px hsla(59.016393442622956, 91.04%, 39.41%, 1.00);
}

.button {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  overflow: visible;
  margin: 0px auto 50px;
  padding: 20px 25px;
  float: none;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 10px;
  background-color: #feb81f;
  box-shadow: 1px 1px 3px 0 hsla(41.16591928251121, 99.11%, 55.88%, 1.00);
  -webkit-perspective: 549px;
  perspective: 549px;
  -webkit-transform: perspective(431px);
  transform: perspective(431px);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.exitblock {
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:100000;
}
.exitblock .fon {
    background: #F6FCFF;
    opacity:.8;
    position:fixed;
    width:100%;
    height:100%;
}

.closeblock {
    cursor:pointer;
    position: fixed;
    line-height:60px;
    font-size:82px;
    transform: rotate(45deg);
    text-align:center;
    top:20px;
    right:30px;
    color: #337AB7;
}
.closeblock:hover {
    color: #000;
}
