$icons: (
        sprite: (width: 52px, height: 38px, svgPath: '../images/sprite-bg.svg'),
minus: (width: 16px, height: 2px, backgroundX: 0px, backgroundY: 0px),
plus: (width: 16px, height: 16px, backgroundX: -26px, backgroundY: -12px),
);