$color__primary:          #008352;
$color__text:             #000;
$color__headings:         #000;
$color__link:             $color__primary;
$color__link_hover:       $color__text;
$color__border:           #ccc;

$bg__body:                #fff;

$font__size_base:         16px;
$font__line-height_base:  1.4;
$font__family-reserve:    Helvetica, Arial, sans-serif;
$font-300:                'MuseoSansCyrl-300', $font-family-base;
$font-700:                'MuseoSansCyrl-700', $font-family-base;
$font-700i:               'MuseoSansCyrl-700i', $font-family-base;
$font__family-base:       $font__family-reserve;

$container__width_max:    1440px;
$container__padding:      24px;
$container__padding_tb:   80px;

//----Media----
//@include media-breakpoint-up(lt)
//@include media-breakpoint-down(lt)
//@include media-breakpoint-only(lt)

