<div class="section after-calc">
    <div class="container">
        <div class="row-fluid">
            <div class="text-center">
                <img src="images/icons/arrow-top.png" alt="Гарантия низких цен на путёвки" class="arrow-top">
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-6 no-padding">
                <div class="block-info text-center">
                    <img src="images/icons/gar.png" alt="Гарантируем низкие цены на приморский" class="gar">
                    <div class="green">Мы официальный отдел реализации путёвок санатория Приморский!</div>
                    <div>Не покупайте путевки у перекупов</div>
                    <div class="red">Гарантируем лучшую стоимость</div>
                    <div class="black">Оставьте заявку на расчет стоимости выше,</div>
                    <div class="border"></div>
                    <div class="phone">либо звоните по телефону</div>
                    <div class="phone-num">
                        <img src="images/icons/icon-phone.png" alt="Номер телефона для Россиян"><a href="tel:+7 499 938 43 43" id="podmena">+7 499 938 43 43</a></div>
                </div>
                <div class="name">
                    Ирина Нефедова<br>
                    <span>специалист отдела реализации</span>
                </div>
            </div>
        </div>
    </div>
</div>