<section class="section banner">
    <div class="row-fluid">
        <div class="container">
            <div class="col-md-12">
                <h1 class="banner__title">Проведите отдых с пользой для здоровья <br><span> в популярном санатории Беларуси "Приморский" </span></h1>
                <div class="after-title">
                    <img src="images/content/best.png" alt="Гости санатория приморский">
                    <h3 class="bg-white">В нашем санатории регулярно оздоравливаются врачи Белоруссии и РФ</h3>
                    <h3 class="bg-grad">Гарантия лучшей цены на этот санаторий</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="container" style="margin-top: 80px;">
            <div class="row-fluid">
                <div id="header-form" class="col-lg-6 col-md-7 col-sm-8">
                    <div class="forma text-center">
                        <div class="form-title">Успейте сэкономить! Бронирование 2019!</div>
                        <div class="form-title-before">
                            <img src="images/content/var5.jpg" alt="акция санатория Приморский">
                        </div>
                        <form class="form">
                                <span>Заполните форму и узнайте<br>
                                    сниженную стоимость путёвки</span>
                            <div class="row-fluid">
                                <label>Выберите возможные даты бронирования</label>
                                <div class="col-sm-6">
                                    <input type="text" name="datestart" id="datep-on" class="date hasDatepicker" placeholder="c __.__.____">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="datefinish" id="datep-off" class="date hasDatepicker" placeholder="до __.__.____" disabled="">
                                </div>
                            </div>
                            <div class="row-fluid">
                                <!--  <div class="col-sm-8 col-sm-offset-2">
                                        <label>Выберите лечебный профиль:</label>
                                        <div class="clearfix"></div>
                                        <select name="profile">
                                            <option value="Сердечно-сосудистая система">Сердечно-сосудистая система</option>
					    <option value="Опорно-двигательный аппарат">Опорно-двигательный аппарат</option>
                                            <option value="Органы дыхания">Органы дыхания</option>
                                            <option value="Верхние дыхательные пути">Верхние дыхательные пути</option>
					    <option value="Органы ЖКТ">Органы ЖКТ</option>
				      	    <option value="Нервная система">Нервная система</option>
					    <option value="Общетерапевтический профиль">Общетерапевтический профиль</option>
					    <option value="Органы пищеварения">Органы пищеварения</option>
					    <option value="Костно-мышечные болезни">Костно-мышечные болезни</option>
                                        </select>
                                    </div>-->
                            </div>
                            <div class="row-fluid">
                                <label>Выберите количество отдыхающих:</label>
                                <div class="clearfix"></div>
                                <div class="col-sm-6">
                                    <select name="people-val" class="select people">
                                        <option value="1 взрослый">1 взрослый</option>
                                        <option value="2 взрослых">2 взрослых</option>
                                        <option value="3 взрослых">3 взрослых</option>
                                        <option value="4 взрослых">4 взрослых</option>
                                        <option value="5 взрослых">5 взрослых</option>
                                        <option value="6 взрослых">6 взрослых</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select name="baby-val" class="select baby">
                                        <option value="Без детей">Без детей</option>
                                        <option value="1 ребенок">1 ребенок</option>
                                        <option value="2 детей">2 детей</option>
                                        <option value="3 детей">3 детей</option>
                                        <option value="4 детей">4 детей</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <label>Введите номер телефона для связи с Вами:</label>
                                <div class="clearfix"></div>
                                <div class="col-sm-8 col-sm-offset-2">
                                    <input type="text" name="phone" class="phone" placeholder="+_(___) ___ __ __" required="">
                                </div>
                            </div>
                            <input type="hidden" name="form_name" value="Форма на превом экране">
                            <input type="hidden" id="utm_term" name="utm_term" value="undefined">
                            <input type="hidden" id="utm_source" name="utm_source" value="undefined">
                            <input type="hidden" id="utm_medium" name="utm_medium" value="undefined">
                            <input type="hidden" id="utm_content" name="utm_content" value="undefined">
                            <input type="hidden" id="utm_campaign" name="utm_campaign" value="undefined">
                            <input type="hidden" id="roistat" name="roistat">
                            <div class="row-fluid">
                                <button type="submit">Узнать сниженную стоимость</button>
                            </div>
                            <div class="row-fluid">
                                <span class="form-ob">Мы свяжемся с Вами в течение 20 минут и подберём предложение</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>