<div class="section osobennosti">
    <div class="container">
        <h2 class="text-center">
            Посмотрите особенности Приморского санатория:
            <img src="/images/icons/arrow-bottom-green.png" alt="Зелёная стрелка">
        </h2>
        <div class="blocks">
            <div class="row-fluid">
                <div class="col-md-3 col-sm-4">
                    <ul class="ul-menu">
                        <li class="active"><a href="#skidki" class="skidki" data-toggle="tab">Скидки и акции</a></li>
                        <li><a href="#pitanie" class="pitanie" data-toggle="tab">Питание</a></li>
                        <li><a href="#otdih" data-toggle="tab" class="otdih">Отдых</a></li>
                        <li><a href="#lechenie" class="lechenie" data-toggle="tab">Лечение</a></li>
                        <li><a href="#prozivanie" class="proz" data-toggle="tab">Проживание</a></li>
                        <!--  <li><a href="#transfer" class="transfer" data-toggle="tab">Трансфер</a></li> -->

                    </ul>
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="skidki">
                            <div class="bordered">
                                <div class="row-fluid">
                                    <div class="texts">
                                        <span class="text-bold">В данном разделе вы можете увидеть актуальные скидки на путёвки санатория "Приморский".</span>
                                        <ul class="marker-check">
                                            <li><span class="top">Прогулка на яхте по Минскому морю <span>В ПОДАРОК!!!</span></span></li>
                                            <!-- <li><span class="top">Посещение аквапарка <span>В ПОДАРОК!!!</span></span></li> -->
                                            <!--  <li><span class="top"><span>Бесплатный трансфер</span> с вокзала</span></li> -->
                                            <li><span class="top"><span>Прогулка на яхте в подарок</span> при покупке путёвки от 8 дней</span></li>
                                            <li><span class="top">Скидки для пенсионеров</span></li>
                                        </ul>
                                        <div class="text-center">
                                            <p>Подробнее об акциях уточняйте у менеджера по номеру: <span class="text-bold" ><a href="tel:+7 499 938 43 43" id="podmena">+7 499 938 43 43</a></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pitanie">
                            <div class="bordered">
                                <div class="row-fluid">
                                    <div class="texts">
                                        <ul class="marker-check">
                                            <li>
                                                    <span class="top">
                                                        <span>В санатории предусмотрено заказное 5-ти разовое питание</span>
                                                        (Завтрак, второй завтрак, обед, полдник, ужин). Вы сами модете выбрать, что хотите, на завтрак, обед и ужин.
                                                    </span>
                                            </li>
                                            <li>
                                                    <span class="top">
                                                        Присутствует также дополнительное меню:
                                                        <span>вегетарианское, детское, постное и диетическое питание.</span>
                                                    </span>
                                            </li>
                                            <li>
                                                <span class="top">Питаться Вы будете в ресторане, летнем кафе, или баре.</span>
                                            </li>
                                            <li>
                                                <span class="top">Возможна консультация медицинской сестры-диетолога.</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="images text-center">
                                        <a data-fancybox="gallery" href="/img/Food/dinner2_1-min.jpg"><img src="/img/Food/mini/dinner2_1_min.FaFWe.jpg" alt="Ужин в санатории Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Food/dinner2_2-min.jpg"><img src="/img/Food/mini/dinner2_2_min.rs65e.jpg" alt="Обед в санатории Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Food/evant1_0-min.jpg"><img src="/img/Food/mini/evant1_0_min.SSuAx.jpg" alt="Завтрак в санатории Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Food/img_6422_0-min.jpg"><img src="/img/Food/mini/img_6422_0_min.bjKcD.jpg" alt="Полдник в санатории Приморский"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="otdih">
                            <div class="bordered">
                                <div class="row-fluid">
                                    <div class="texts">
                                        <span class="text-bold">Хорошо организован досуг отдыхающих.</span>
                                        <ul class="marker-check">
                                            <li>
                                                    <span class="top">
                                                        Детские развлекательные программы и экскурсии
                                                    </span>
                                            </li>
                                            <li>
                                                    <span class="top">
                                                        Дискотеки ,концерты профессиональных коллективов
                                                    </span>
                                            </li>
                                            <li>
                                                <span class="top">Посещение театра, музея и др. мероприятия в городе</span>
                                            </li>
                                            <li><span class="top">Просмотр кинофильмов, мастер-классы</span></li>
                                            <li><span class="top">Большой выбор экскурсий по Республике Беларусь</span></li>
                                            <li><span class="top">Спа-процедуры</span></li>
                                            <li><span class="top">Спортивный отдых</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="images text-center">
                                        <a data-fancybox="gallery" href="/img/Rest/0917w-min.jpg"><img src="/img/Rest/mini/0917w_min.QNObX.jpg" alt="Пляж в санатории Приморской"></a>
                                        <a data-fancybox="gallery" href="/img/Rest/2c1a598b26e6712ae10ad3d8e6c6f8e6-min.jpg"><img src="/img/Rest/mini/2c1a598b26e6712ae10ad3d8e6c6f8e6_min.eYJn6.jpg" alt="Бассейн в санатории Приморской"></a>
                                        <a data-fancybox="gallery" href="/img/Rest/9941-1250-min.jpg"><img src="/img/Rest/mini/9941_1250_min.kCic9.jpg" alt="Бильярд в санатории Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Rest/c88dfbb547f0986635185abedc63bbd8-min.jpg"><img src="/img/Rest/mini/c88dfbb547f0986635185abedc63bbd8_min.zQbux.jpg" alt="Место для релакса в санатории Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Rest/cfd185aa17fb9e0fcaa3ebeda1a7b23d-min.jpg"><img src="/img/Rest/mini/cfd185aa17fb9e0fcaa3ebeda1a7b23d_min.1Fo2A.jpg" alt="Баня в санатории Приморский"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="lechenie">
                            <div class="bordered">
                                <div class="row-fluid">
                                    <div class="texts">
                                        <ul class="marker-check">
                                            <li>
                                                    <span class="top">
                                                        Медицинские профили санатория: Болезни сердечно-сосудистой системы , органов дыхания, опорно-двигательного аппарата, органов пищеварения, нервной системы
                                                    </span>
                                            </li>
                                            <li>
                                                    <span class="top">
                                                        Дополнительные: Болезни костно-мышечной системы и соединительной ткани, кровообращения
                                                    </span>
                                            </li>
                                            <li>
                                                <span class="top">Природные лечебные процедуры: климатолечение, грязелечение</span>
                                            </li>
                                            <li><span class="top">Диагностика: Ультразвуковая диагностика (УЗИ), ЭКГ</span></li>
                                            <li><span class="top">И многое другое, в том числе общий анализ крови.</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="images text-center">
                                        <a data-fancybox="gallery" href="/img/Treatment/79947b57765b0bd8aeae26fa61aeb0c3-min.jpg"><img src="/img/Treatment/mini/79947b57765b0bd8aeae26fa61aeb0c3_min.loac6.jpg" alt="Джакузи в санатории Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Treatment/b2_0-min.jpg"><img src="/img/Treatment/mini/b2_0_min.Rj6o5.jpg" alt="Кедровая бочка в санатории Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Treatment/eol1-min.jpg"><img src="/img/Treatment/mini/eol1_min.zYaFG.jpg" alt="Процедуры в санатории Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Treatment/g5_3-min.jpg"><img src="/img/Treatment/mini/g5_3_min.56VQ3.jpg" alt="Процедуры в Приморском"></a>
                                        <a data-fancybox="gallery" href="/img/Treatment/gryaz1-min.jpg"><img src="/img/Treatment/mini/gryaz1_min.Pdiyo.jpg" alt="Грязевое обёртывание в санатории Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Treatment/shutterstock_151824476-min.jpg"><img src="/img/Treatment/mini/shutterstock_151824476_min.vbJ5G.jpg" alt="Спа капсула в санатории Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Treatment/vanny1-min.jpg"><img src="/img/Treatment/mini/vanny1_min.ThVUj.jpg" alt="Гидрованны в санатории Приморский"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="prozivanie">
                            <div class="bordered">
                                <div class="row-fluid">
                                    <div class="texts">
                                        <span class="text-bold">Проживать в санатории можно в следующих номерах:</span>
                                        <ol>
                                            <li>
                                                    <span class="top">
                                                        2-местный 1-комнатный номер
                                                    </span>
                                            </li>
                                            <li>
                                                    <span class="top">
                                                        1-местный 1-комнатный люкс
                                                    </span>
                                            </li>
                                            <li>
                                                <span class="top">2-местный 2-комнатный люкс</span>
                                            </li>
                                            <li>
                                                <span class="top">2-местный 2-комнатный улучшенный люкс</span>
                                            </li>
                                        </ol>
                                        Номера оборудованы всей необходимой техникой и принадлежностями.
                                        Подробнее вы можете узнать прямо сейчас по номеру: <span class="text-bold"><a href="tel:+7 499 938 43 43" id="podmena">+7 499 938 43 43</a></span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="images text-center">
                                        <a data-fancybox="gallery" href="/img/Apport/9392-min.jpg"><img src="/img/Apport/mini/9392_min.0zf5w.jpg" alt="Люкс Санаторий Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Apport/img_9344-min.jpg"><img src="/img/Apport/mini/img_9344_min.mn8Aj.jpg" alt="Двухместный стандарт санаторий Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Apport/img_9382-min.jpg"><img src="/img/Apport/mini/img_9382_min.wQvX1.jpg" alt="Двухкомнатный люкс в Приморском"></a>
                                        <a data-fancybox="gallery" href="/img/Apport/img_9407_0-min.jpg"><img src="/img/Apport/mini/img_9407_0_min.Ep3AH.jpg" alt="Гостинная в санатории Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Apport/img_9415_0-min.jpg"><img src="/img/Apport/mini/img_9415_0_min.6Avx8.jpg" alt="Ванная комната в санатории Приморский"></a>
                                        <a data-fancybox="gallery" href="/img/Apport/img_9453-min.jpg"><img src="/img/Apport/mini/img_9453_min.XY1QN.jpg" alt="Кровать в санатории Приморский"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="transfer">
                            <div class="bordered">
                                <div class="row-fluid">
                                    <div class="texts">
                                        <span class="text-bold">Вам не нужно думать о том, как найти санаторий и чем добраться – сотрудник санатория встретит Вас прямо у вагона поезда или у терминала аэропорта и доставит в санаторий "Приморский".</span>
                                        <div class="text-center">
                                            <p>Для уточнения стоимости и заказа трансфера звоните по номеру: <span class="text-bold"><a href="tel:+7 499 938 43 43" id="podmena">+7 499 938 43 43</a></span></p>
                                            <p>Также рядом с санаторием ходит большое количество общественного транспорта, подробнее уточняйте у операторов.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="images text-center">
                                        <img src="/img/Transfer/mini/f09b84b0b3f931732cbda3776fd9e043_min.ezgRW.jpg" alt="Трансфер до санатория Приморский">
                                        <img src="/img/Transfer/mini/reno2_20_0_min.udVH8.jpg" alt="Трансфер до санатория Приморский">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row-fluid">
                <div class="text-center">
                    <a href="" class="button-to-vileo" data-toggle="modal" data-target="#video">Посмотреть видео о санатории >></a>
                </div>

                <h3 class="text-center">Для бесплатной консультации или бронирования звоните сейчас по номеру:</h3>

                <div class="number clearfix text-center">
                    <img src="/images/icons/icons-seti.png" alt="Российский телефон санатория Примосркий">&nbsp;<a href="tel:+7 499 938 43 43" id="podmena">+7 499 938 43 43</a></div>
            </div>
        </div>
    </div>
</div>