<div class="section review">
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/icons/five-stars-rew.png" alt="Отзывы о санатории Приморский" class="stars">
                    <div class="text">
                        <span class="text-bold">Николай</span><br>
                        «Отдыхал в санатории
                        "Приморском в сентябре 2018 г.
                        Огромные слова
                        благодарности работникам
                        ресторана- за превосходное
                        питание и разнообразное
                        меню. А вечерний досуг
                        превращался в праздник.
                        Индивидуальный подход
                        к каждому отдыхающему.»
                    </div>
                    <span class="date">27.09.2018</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/icons/five-stars-rew.png" alt="Отзывы о санатории Приморский" class="stars">
                    <div class="text">
                        <span class="text-bold">Юлия</span><br>
                        «Рекомендую
                        Хороший тихий спокойный
                        санаторий! Везде чисто.
                        Лечебная база прекрасная,
                        медицинский  персонал
                        отличный. Все понравилось,
                        спасибо.»
                    </div>
                    <span class="date">13.07.2018</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/icons/five-stars-rew.png" alt="Отзывы о санатории Приморский" class="stars">
                    <div class="text">
                        <span class="text-bold">Олег</span><br>
                        «Добрый день! Я ещё нахожусь в санатории и получаю море приятных впечатлений, также хочу поделиться о грамотно подобранном индивидуально каждому отдыхающему лечение и это заслуга лечащих врачей. Очень вкусное, здоровое питание. Рекомендую.»
                    </div>
                    <span class="date">05.06.2019</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/icons/five-stars-rew.png" alt="Отзывы о санатории Приморский" class="stars">
                    <div class="text">
                        <span class="text-bold">Наталья</span><br>
                        «Отдыхала в "Приморском"
                        с 10 по 27 марта 2019
                        года. Отличное отношение
                        всех сотрудников к
                        отдыхающим, разнообразное
                        питание, прекрасное лечение!
                        Хочется отметить
                        инструктора по ЛФК
                        Людмилу Евгеньевну и
                        мастера массажа Ирину.
                        Чудесно отдохнула и
                        оздоровилась! Спасибо!»
                    </div>
                    <span class="date">21.04.2019</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/icons/five-stars-rew.png" alt="Отзывы о санатории Приморский" class="stars">
                    <div class="text">
                        <span class="text-bold">Юрий</span><br>
                        «Наконец нашли хороший
                        санаторий, в который можно
                        ездить регулярно. Спасибо
                        большое обслуживающему
                        персоналу,  как и ожидалось
                        цены на лечение
                        и правда выгоднее.»
                    </div>
                    <span class="date">18.12.2018</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/icons/five-stars-rew.png" alt="Отзывы о санатории Приморский" class="stars">
                    <div class="text">
                        <span class="text-bold">Наталья</span><br>
                        «Всем приветик! Девушки из
                        номера 223 выражают
                        искреннею благодарность
                        всему персоналу санатория!
                        Все очень доброжелательны
                        и отзывчивы! Из процедур
                        особенно понравились
                        "массажная кушетка",
                        "спа-капсула",
                        "циркуляционный душ".
                        Еда также вкусная! Из
                        пожеланий: кофе-машина.
                        Обязательно вернёмся сюда!»
                    </div>
                    <span class="date">27.11.2018</span>
                </div>
            </div>
        </div>
        <div class="row-fluid text-center">
            <button class="add_review text-bold" data-toggle="modal" data-target="#otziv">Оставить отзыв</button>
        </div>
    </div>
</div>