<div class="section services text-center">
    <div class="container">
        <div class="title-container">
            "Приморский" оздоровительный санаторий –
            круглогодичный, многопрофильный отдых,
            пользующийся большой популярностью среди Россиян
        </div>
        <div class="row-fluid">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="item">
                    <div class="image">
                        <img src="images/content/img1.jpg" alt="Стоунтерапия в Приморском">
                    </div>
                    <div class="title">
                        Стоунтерапия<br>
                        и спелеотерапия
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="item">
                    <div class="image">
                        <img src="images/content/img2.jpg" alt="Водные процедуры в Приморском">
                    </div>
                    <div class="title">
                        Водные процедуры<br>
                        и массаж
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="item">
                    <div class="image">
                        <img src="images/content/img3.jpg" alt="Иглорефлексотерапия в Приморском">
                    </div>
                    <div class="title">
                        Иглорефлексотерапия,<br>
                        карбокситерапия
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="item">
                    <div class="image">
                        <img src="images/content/img4.jpg" alt="Кедровая бочка в Приморском">
                    </div>
                    <div class="title">
                        Кедровая бочка<br>
                        и спа-капсула
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="item">
                    <div class="image">
                        <img src="images/content/img5.jpg" alt="Сухое вытяжение в Приморском">
                    </div>
                    <div class="title">
                        Сухое вытяжение<br>
                        позвоночника
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="item">
                    <div class="image">
                        <img src="images/content/img6.jpg" alt="Сауна с мини-бассейном в приморском">
                    </div>
                    <div class="title">
                        Сауна с<br>
                        мини-бассейном
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="item">
                    <div class="image">
                        <img src="images/content/img7.jpg" alt="Бесплатные выезды в Минск в Приморском">
                    </div>
                    <div class="title">
                        Бесплатные выезды<br>
                        в аквапарк в г. Минск
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="item">
                    <div class="image">
                        <img src="images/content/img8.jpg" alt="Хвойные, йодобромные и жемчужные ванны в приморском">
                    </div>
                    <div class="title">
                        Хвойные, йодобромные,<br>
                        жемчужные ванны.
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="item">
                    <div class="image">
                        <img src="images/content/img9.jpg" alt="Детские площадки в Приморском">
                    </div>
                    <div class="title">
                        Детские площадки<br>
                        и игровые комнаты
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="item">
                    <div class="image">
                        <img src="images/content/img10.jpg" alt="Зимняя рыбалка в Приморском">
                    </div>
                    <div class="title">
                        Зимняя и<br>
                        летняя рыбалка
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="item">
                    <div class="image">
                        <img src="images/content/img11.jpg" alt="Кедровая бочка и спа капсула в Приморском">
                    </div>
                    <div class="title">
                        Кедровая бочка<br>
                        и спа-капсула
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="item">
                    <div class="image">
                        <img src="images/content/img12.jpg" alt="5ти разовое заказное питание в приморском">
                    </div>
                    <div class="title">
                        Заказное 5-ти разовое<br>
                        питание
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="description">
            <b>В нашем санатории вы можете сделать общий анализ крови, ультразвуковую, лабораторную диагностику в 3-5 раз дешевле чем в России.</b><br>
            У нас работают квалифицированные специалисты: врач – терапевт, врач
            УЗ – диагностики (УЗИ внутренних органов, щитовидной железы),
            врач функциональной диагностики, врач-педиатр.
        </div>
    </div>
</div>