<div class="section">
    <div class="slider-reviw">
        <div class="container">
            <div class="row-fluid">
                <div class="col-xs-12 slide-block">
                    <div class="stars">
                        <img src="images/content/stars.jpg" alt="Отзывы о санатории Приморский">
                    </div>
                    <div class="slider carousel slide" id="carousel-example-generic" data-ride="carousel">
                        <ul class="slides carousel-inner">
                            <li class="slide item active">
                                <div class="slide-text">
                                    «<span>Наконец нашли хороший санаторий, в который можно
                                        ездить регулярно</span>. Спасибо большое обслуживающему
                                    персоналу,  как и ожидалось цены на лечение
                                    и правда выгоднее.»
                                </div>
                                <span class="slide-date">22.11.2018</span>
                            </li>
                            <li class="slide item">
                                <div class="slide-text">
                                    «<span>Рекомендую Хороший тихий спокойный санаторий</span>. Везде чисто. Лечебная база прекрасная, медицинский персонал отличный. Всё понравилось. Спасибо.»
                                </div>
                                <span class="slide-date">25.09.2018</span>
                            </li>
                            <li class="slide item">
                                <div class="slide-text">
                                    «Отдыхала в "Приморском" с 10 апреля по 27 апреля 2019 года. <span>Отличное отношение всех сотрудников к отдыхающим, разнообразное питание, прекрасное лечение!</span>»
                                </div>
                                <span class="slide-date">28.05.2019</span>
                            </li>
                        </ul>

                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <img src="images/icons/arrow-left.png" alt="Санаторий Приморский левее">
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <img src="images/icons/arrow-right.png" alt="Санаторий приморский правее">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>