<div class="section soveti">
    <div class="container">
        <h2 class="text-center">
            Почему много Белорусов и Россиян<br>советуют санаторий Приморский:
        </h2>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="title">
                        <div class="icon">
                            <img src="images/icons/volna.png" alt="Приморский на Минском Море">
                        </div>
                        <div class="text">
                            Находится прямо на Минском Море
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="desc">
                        Санаторий располагается вблизи невероятно красивого и чистого Заславского водохранилища. Это второе по величине водохранилище Белоруссии. У санатория есть свой
                        <span>собственный пляж, который позволяет проводить досуг интересно как летом, так и зимой.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="title">
                        <div class="icon">
                            <img src="images/icons/markers.png" alt="Приморский 10 км от Минска">
                        </div>
                        <div class="text">
                            Санаторий в 10 км от Минска
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="desc">
                        Самое главное преимущество нашего санатория . Приехав из России, вам будет очень легко добраться до санатория. Также
                        <span>у Вас есть возможность посмотреть столицу Белоруссии,</span>
                        съездить на экскурсии от санатория и посмотреть самые популярные места страны.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="title">
                        <div class="icon">
                            <img src="images/icons/fonenedo.png" alt="Приморский Лечебная база">
                        </div>
                        <div class="text">Большая лечебная база</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="desc">
                        В нашем санатории представлены
                        <span>самые эффективные процедуры для лечения органов дыхания, опорно-двигательного аппарата, сердечно-сосудистой системы, заболеваний нервной системы, органов ЖКТ. </span>
                        Гости санатория очень ценят уникальные процедуры, которые присутствуют только в нашем санатории.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="title">
                        <div class="icon">
                            <img src="images/icons/juice.png" alt="Санаторий приморский Без очередей на процедуры">
                        </div>
                        <div class="text">
                            Без очередей
                            на процедуры
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="desc">
                        Вам не придётся отстаивать в очередях для того, чтобы поесть, попасть на популярные процедуры или развлечения благодаря эффективной организации места и небольшой вместительности санатория.
                        <span>Гости очень ценят такую возможность.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="title">
                        <div class="icon">
                            <img src="images/icons/pole.png" alt="Санаторий Приморский Чистый и полезный воздух">
                        </div>
                        <div class="text">
                            Чистый и полезный воздух
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="desc">
                        Санаторий находится вблизи соснового леса. Хвойная терапия – тысячелетиями проверенный способ борьбы со многими болезнями, а также их своевременной профилактики. Все посетители отмечают, что
                        <span>воздух в Приморском очень чистый и свежий.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="title">
                        <div class="icon">
                            <img src="images/icons/kopilka.png" alt="Санаторий Приморский Цены">
                        </div>
                        <div class="text">
                            Действительно невысокие цены
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="desc">
                        Россияне отмечают, что в Белоруссии
                        <span>стоимость очень отличается, в лучшую сторону, на лечебные процедуры. Обосновано это нашим гос. регулированием цен на медицинские услуги.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>