<div class="table-rooms" id="shop_table">
    <div class="room">
        <div class="room__pic">
            <a data-fancybox="gallery" href="http://sanprimorski.by/sites/default/files/images/room/img_9401_0.jpg">
                <img src="https://sanprimorsky.by/old/img/Apport/mini/img_9407_0_min.Ep3AH.jpg" alt="Люкс Санаторий Приморский">
            </a>
        </div>
        <label class="room__label">
            <span class="room__descr">
                Номер <b>Single</b>
                <span class="room__descr-text">1-комнантный, 1-местный</span>
            </span>
            <span class="room__price">
                Цена <b>57 бел.руб</b>
            </span>
            <span class="room__check">
                <span class="radio">
                    <input class="check-cust" type="radio" name="room_id" value="1" checked>
                    <i class="check-cust_i"></i>
                </span>
            </span>
        </label>
    </div>
    <div class="room">
        <div class="room__pic">
            <a data-fancybox="gallery" href="http://sanprimorski.by/sites/default/files/images/room/img_9354.jpg">
                <img src="https://sanprimorsky.by/old/img/Apport/mini/img_9344_min.mn8Aj.jpg" alt="Люкс Санаторий Приморский">
            </a>
        </div>
        <label class="room__label">
            <span class="room__descr">
                Номер <b>Twin</b>
                <span class="room__descr-text">1-комнатный, 2-местный</span>
            </span>
            <span class="room__price">
                Цена <b>38 бел.руб</b>
            </span>
            <span class="room__check">
                <span class="radio">
                    <input class="check-cust" type="radio" name="room_id" value="2" checked>
                    <i class="check-cust_i"></i>
                </span>
            </span>
        </label>
    </div>
    <div class="room">
        <div class="room__pic">
            <a data-fancybox="gallery" href="http://sanprimorski.by/sites/default/files/images/room/img_9453.jpg">
                <img src="https://sanprimorsky.by/old/img/Apport/mini/img_9453_min.XY1QN.jpg" alt="Люкс Санаторий Приморский">
            </a>
        </div>
        <label class="room__label">
            <span class="room__descr">
                Номер <b>Kingsize</b>
                <span class="room__descr-text">2-местный, 2-комнатный</span>
            </span>
            <span class="room__price">
                Цена <b>54 бел.руб</b>
            </span>
            <span class="room__check">
                <span class="radio">
                    <input class="check-cust" type="radio" name="room_id" value="3" checked>
                    <i class="check-cust_i"></i>
                </span>
            </span>
        </label>
    </div>
    <div class="room">
        <div class="room__pic">
            <a data-fancybox="gallery" href="http://sanprimorski.by/sites/default/files/images/room/9392.jpg"><img src="https://sanprimorsky.by/old/img/Apport/mini/9392_min.0zf5w.jpg" alt="Люкс Санаторий Приморский"></a>
        </div>
        <label class="room__label">
            <span class="room__descr">
                Номер <b>Lux</b>
                <span class="room__descr-text">2-местный, 2-комнатный</span>

            </span>
            <span class="room__price">
                Цена <b>69 бел.руб</b>
            </span>
            <span class="room__check">
                <span class="radio">
                    <input class="check-cust" type="radio" name="room_id" value="4" checked>
                    <i class="check-cust_i"></i>
                </span>
            </span>
        </label>
    </div>
</div>
